body {
  background-color: rgb(50, 50, 50);
}

.button {
  position: relative;
  left:5vw;
  margin: 0 0 0 0;
  border-style: none;
  border-radius: 10px;
  width:8vh;
  height:10vh;
  outline: none;
}
.slidecontainer{
  position: relative;
  left: 5vw;
  margin: 0 0 0 0;
  border-style: none;
  display: inline;
  width: 32vh;
  height:10vh;
  outline: none;
}
.slider {
  -webkit-appearance: none;
  width: 34vh;
  height: 10vh;
  border-radius: 10px;
  background: #d3d3d333;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
  transition: 0.4s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.4s;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.4s;
}
.slider::-webkit-slider-thumb:hover {
  width: 50px;
  height: 50px;
}
.slider::-moz-range-thumb:hover {
  width: 50px;
  height: 50px;
}
.play_btn{
  background-color: burlywood;
  opacity: 40%;
}

/*
.button1 {
  background:rgb(230, 239, 240,0.3);
}
.button2 {
  background:rgb(200, 227, 239,0.3);
}
.button3 {
  background:rgb(167, 202, 222,0.3);
}
.button4 {
  background:rgb(148, 171, 201,0.3);
}
.button5 {
  background:rgb(128, 151, 180,0.3);
}
.button6 {
  background:rgb(150, 164, 196,0.3);
}
.button7 {
  background:rgb(170, 184, 216,0.3);
}
.button8 {
  background:rgb(204, 209, 228,0.3);
} */
