body {
  background-color: rgb(50, 50, 50);
}

.button {
  position: relative;
  left:50%;
  margin: 0 0 0 -6vh;
  border: 1px solid #323232;
  border-radius: 20px;
  width:12vh;
  height:12vh;
  outline: none;

}

#wait_frame{
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.btn:active {
  transform: translateX(3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.btn:active::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}