body {
  background-color: rgb(50, 50, 50);
}

.button {
  position: relative;
  left:50%;
  margin: 0 0 0 -6vh;
  border-style: none;
  border-radius: 10px;
  width:12vh;
  height:12vh;
  outline: none;

}

#wait_frame{
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
}